* {
margin: 0;
padding: 0;
box-sizing: border-box;  
}
body{
    font-family: Plus Jakarta Sans;
    background-color: var(--Slate-100);
    display: flex;
    justify-content: center;
    align-items: center;
}


:root{
    /* ### Primary */

--Lime: hsl(61, 70%, 52%);
--Red: hsl(4, 69%, 50%);

    /* ### Neutral */

--White: hsl(0, 0%, 100%);
--Slate-100: hsl(202, 86%, 94%);
--Slate-300: hsl(203, 41%, 72%);
--Slate-500: hsl(200, 26%, 54%);
--Slate-700: hsl(200, 24%, 40%);
--Slate-900: hsl(202, 55%, 16%);

/* ## Typography */

--paragraphe-font-size:16px
} 

/* form  */

.gen-form{
    display: flex;
    flex-direction: column;
    width:387px ;
    min-width: 387px;
}
/* container  */
.container{
    padding: 20px 20px;
    width: 90%;
    margin:auto;
}
 .white-section {
    background-color: white;
}


/* text  */




/* first titls  */
.white-section .Mortage-calculator {
    padding-block: 12px;
    color: var(--Slate-900);
   
}
.white-section #clr {
    appearance: none;
    border:none ;
    background-color: transparent;
    text-decoration:underline;
    color: var(--Slate-700);
    font-size: 16px;
    width: 60px;
    padding-left: 0;
    cursor: pointer;

}
.white-section .begin {
    display: flex;
    flex-direction: column;
    
    
}


/* inputs  */

.container .text .in {
    margin-top: 20px;
}
.container .text .in label {
font-size:16px;
color: var(--Slate-700);

}
.container .text .in .inp {
    margin-top: 20px;
}
.Mortgage
{ width: 100%;}
.Mortgage .inp {
    position: relative;
    width: 100%;

}

/* .Mortgage */
.Mortgage .inp .fa-dollar-sign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    padding: 11px 11px;
    background-color: var(--Slate-100);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}
.Mortgage .inp #mort,#term ,#intrest {
    height: 40px;
    width: 100%;
    border: 1px solid var(--Slate-500);
    padding-inline: 40px;
    font-size: 16px;
    border-radius: 6px;
}
.Mortgage .inp #mort:focus,#term:focus{
outline-color: var(--Lime);
}
.Mortgage .inp #mort:focus+ .fa-dollar-sign {
    background-color: var(--Lime);
}


/* years */

.Mortgage .inp p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    padding: 9px 11px;
    background-color: var(--Slate-100);
    color:var(--Slate-700) ;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    
}
.Mortgage .inp #term:focus+ p {
    background-color: var(--Lime);
    color: var(--Slate-900);
}
#term{
    padding-inline: 20px;
}

/* percent  */

.Mortgage .inp .fa-percent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    padding: 11px 11px;
    background-color: var(--Slate-100);
    color:var(--Slate-700) ;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.Mortgage .inp #intrest:focus{
    outline-color: var(--Lime);
}
.Mortgage .inp #intrest:focus+ .fa-percent {
    background-color: var(--Lime);
    color: var(--Slate-900);
}
#intrest{
    padding-inline: 20px;
}

/* radio  */
.except{
position: relative;
}
.Mortgage .inp #first,#second {
    display: block;
    height: 40px;
    width: 100%;
    border: 1px solid var(--Slate-500);
    padding-inline: 40px;
    padding-top: 7px;
    font-size: 16px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 6px;
    
    
}
.Mortgage .inp #first span ,#second span {
    margin-left: 30px;
    font-weight: bold;
}
.Mortgage .inp #first #one,#two {
    position:absolute ;
    height: 20px;
    width: 20px;
    accent-color: var(--Lime);
}

.Mortgage .inp #first:active,#second:active {
    background-color: rgb(255, 255, 153);
}


.calc_rep {
    background-color: var(--Lime);
    padding-inline: 25px;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Slate-900);
    font-weight: bold;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    letter-spacing: 1.5;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    
}
.calc_rep img {
    margin-right: 10px;
}

@media (min-width:768px){
    .gen-form{
        display: flex;
        flex-direction: row;
        width:1000px ;
        
    }
    .white-section .begin {
        flex-direction: row;
        justify-content: space-between;
    }
    .years_perc {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .years_perc .inp {
        width: 50%;
    }


    /* container */
    .white-section {
        padding-inline: 80px;
        width: 90%;
        margin:auto;
    }
    
    

}



/* 
*BLACK SECTION ONE
*/

.Black-section{
    width: 90%;
    margin:auto;
    background-color: var(--Slate-900);
    text-align: center;
}
.Black-section img {
    margin-top: 20px;
}

.Black-section h3 ,.Black-section p {
    margin-top: 15px;
    color:white ;

}

/* 
*BLACK SECTION Two
*/

.Black-section-second {
    width: 90%;
    margin:auto;
    background-color: var(--Slate-900);
    
}

.Black-section-second h3 ,.Black-section-second p {
    margin-block: 15px;
    color:white ;
    line-height: 1.5;

}
.Black-section-second h3 {
    font-size: 20px;
}
.Black-section-second p {
  color: var(--Slate-300);
}
.Black-section-second .secton {
    padding: 13px 15px;
    background-color:rgb(16, 33, 45) ;
    border: 5px solid;
    border-color: var(--Lime) transparent transparent transparent;
    border-radius:6px ;
}
.Black-section-second .secton h4 {
    color: var(--Slate-300);
    font-size: 16px;
    padding-top: 15px;
}
.Black-section-second .secton h1 {
    padding-block: 12px;
    color: var(--Lime);
}
.Black-section-second .secton h3 {
    padding-block: 1px;
}


